mixin filter (Title)
  // START filter
  .catalog
    .catalog__title Каталог
    btn.btnReset.catalog__button Фильтр
    .filters
      .filters__category.filter
        .filter__title Категория
        form(action="#")
          label
            input(type="checkbox" name="")
            span Интерактивные ИБП
          label
            input(type="checkbox" name="")
            span SMART и онлайн ИБП
          label
            input(type="checkbox" name="")
            span Трехфазные системы
          label
            input(type="checkbox" name="")
            span Распределители питания
          label
            input(type="checkbox" name="")
            span Мониторинг и управление
          label
            input(type="checkbox" name="")
            span ИБП для систем отопления
          label
            input(type="checkbox" name="")
            span Сетевые фильтры
          label
            input(type="checkbox" name="")
            span Стабилизатор напряжения
          label
            input(type="checkbox" name="")
            span Батареи
          label
            input(type="checkbox" name="")
            span Программное обеспечение
          label
            input(type="checkbox" name="")
            span Технологии
      .filters__manufacturer.filter
        .filter__title Производитель
        form(action="#")
          label
            input(type="checkbox" name="")
            span Мониторинг и управление
          label
            input(type="checkbox" name="")
            span ИБП для систем отопления
          label
            input(type="checkbox" name="")
            span Сетевые фильтры
          label
            input(type="checkbox" name="")
            span Стабилизатор напряжения
          label
            input(type="checkbox" name="")
            span Батареи
  // END filter
