mixin menu (Class)
  //- START menu
  ul.menu(class=Class)
    li
      a(href="#") O компании
      ul
        li
          a(href="#") Отзывы
        li
          a(href="#") Сотрудники
        li
          a(href="#") Сертификаты
    li
      a(href="#") Каталог
    li
      a(href="#") Услуги
    li
      a(href="#") Оплата / Доставка
    li
      a(href="#") Гарантии
    li
      a(href="#") Опыт
    li
      a(href="#") Новости
    li
      a(href="#") Контакты

//- END menu
