mixin footer-nav ()
  // START footer-nav
  nav.footer-nav
    ul
      li
        a(href="#") Доставка / оплата
      li
        a(href="#") Каталог
      li
        a(href="##") Политика обработки персональных данных
      li
        a(href="#") О компании
      li
        a(href="#") Услуги
      li
        a(href="#") Гарантии
      li
        a(href="#") Опыт
      li
        a(href="#") Новости
      li
        a(href="#") Контакты
  // END footer-nav
