mixin contacts ()
  // START contacts
  ul.contacts
    li.contacts__item.contacts__tel
      .tel
        a.tel__link(href="tel:+78129049157")
          | +7 (812) 904-91-57
    li.contacts__item.contacts__address.address
      | Гельсингфорсская ул., 4 корпус 1,  Санкт-Петербург, 194044
    li.contacts__item.contacts__email
      a(href="mailto:HJYolv@woevg.com")
        | HJYolv@woevg.com
  // END contacts
