mixin productCard ()
  // START productCard
  .productCard
    h1 ИБП CyberPower BU600E
    .productCard__top
      +productSlider
      +product
    .productCard__bottom
      +productInfo
  // END productCard
