mixin productSlider ()
  // START productSlider
  .productSlider
    .productSlider__labels
      span.labelHit Хит
      span.labelNew Новинка
    .f-carousel.productSlider__slider
      .f-carousel__slide(data-thumb-src="img2/product-img-small.jpg" data-fancybox="gallery")
        img(alt="" data-lazy-src="img2/product-img-big.jpg")
      .f-carousel__slide(data-thumb-src="img2/product-img-small.jpg" data-fancybox="gallery")
        img(alt="" data-lazy-src="img2/product-img-big.jpg")
      .f-carousel__slide(data-thumb-src="img2/product-img-small.jpg" data-fancybox="gallery")
        img(alt="" data-lazy-src="img2/product-img-big.jpg")

  // END productSlider
