mixin breadcrumbs ()
  // START breadcrumbs
  .breadcrumbs
    ul
      li
        a(href="#") Главная
      li
        a(href="#") Каталог
      li
        span ИБП CyberPower BU600E
  // END breadcrumbs