$font1: "Montserrat-Medium", "Arial", "Helvetica", sans-serif;
$font2: "Montserrat-Regular", "Arial", "Helvetica", sans-serif;
$font3: "Montserrat-SemiBold", "Arial", "Helvetica", sans-serif;
$main-color: #1f2324;
$light-color: #969696;
$black-color: #000;
$bg-color-dark: #1648a8;
$bg-color-light: #f3f3f3;
$label-new-color: #ebbf25;
$label-hit-color: #1648a8;
$btn-color: #ffd230;
$btn-color2: #fff;
$tab-color-active: #42516e;
$tab-color-: #e5e5e5;
