include ./temp/4.main/filter/filter.pug
include ./temp/4.main/breadcrumbs/breadcrumbs.pug
include ./temp/4.main/productCard/productCard.pug
include ./temp/4.main/productSlider/productSlider.pug
include ./temp/4.main/product/product.pug
include ./temp/4.main/productInfo/productInfo.pug
include ./temp/2.header/logo/logo.pug
include ./temp/2.header/soc/soc.pug
include ./temp/2.header/burgerBtn/burgerBtn.pug
include ./temp/2.header/closeMenuBtn/closeMenuBtn.pug
include ./temp/2.header/menu/menu.pug
include ./temp/3.footer/newsletter/newsletter.pug
include ./temp/3.footer/copyright/copyright.pug
include ./temp/3.footer/footer-nav/footer-nav.pug
include ./temp/3.footer/contacts/contacts.pug
include ./temp/3.footer/policy-nav/policy-nav.pug
