-
    var cnt = {
      nav: [
        {
          name: 'Главная',
          link: '##',
          sub: [
            {
              name: 'О нас',
              link: '##',
            },
            {
              name: 'Контакты',
              link: '##',
            },
          ],
        },
      ],
      top_section: {title: 'Главный контент сайта.'},
      middle_section: {title: 'Контент центральной секции.'},
      footer: {},
    };
