mixin burgerBtn (Class)
  // TEMPLATE: burgerBtn
  .burger
    button.btnReset.burgerBtn(class=Class aria-label="Открыть меню")
      span.burgerBtn__line
      span.burgerBtn__text Меню
  // /TEMPLATE: burgerBtn
