mixin soc ()
  // START soc
  .soc&attributes(attributes)
    ul
      li
        a.soc__link.soc__telegram(href="#") Связаться в telegram
      li
        a.soc__link.soc__whatsapp(href="#") Написать в whatsapp
  // END soc
