footer.footer
  section.darkBg
    .bigContainer
      .darkBg__body
        .container
          +newsletter
  .container
    .footer__inner
      +logo
      +soc
      +copyright
      +footer-nav
      +contacts
      +policy-nav
